.aboutheader{
    max-width: 80%;
    margin: 0 auto;
}

.mainheader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainheader p{
    margin-top: -1rem;
    color: rgb(13, 133, 142);
    font-size: large;
    font-weight: 400;
}

.aboutmain img{
    height: 250px;
    width: 280px;
    border-radius: 50%;
    margin-top:2rem;
}

.aboutmain{
    display: flex;
    gap: 3.5rem;
    width: 90%;
    /* justify-content: baseline; */
}

.aboutmain p{
    color: rgb(13, 133, 142);
    font-size: large;
    font-weight: 400;
}

.aboutfooter{
    display: flex;
    gap: 24rem;
    background-color: rgba(172, 160, 228, 0.361);
    width: 100vw;
    justify-content:  space-evenly;
}

.aboutfooter h3{
    font-size: 4rem;
    color: white;
}

.icon{
    margin-top: 7rem;
    display: flex;
    gap: 1rem;
}

.icon img{

    height: 3rem;
    width: 3rem;
}